<div class="a">
    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Họ</mat-label>
            <input matInput placeholder="Nhập họ">
            <mat-hint></mat-hint>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Tên</mat-label>
            <input matInput placeholder="Nhập tên">
            <mat-hint></mat-hint>
          </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy">
          <mat-label>Nhập SĐT hoặc email</mat-label>
          <input matInput placeholder="Nhập SĐT hoặc email">
          <mat-hint></mat-hint>
        </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy">
        <mat-label>Nhập mật khẩu</mat-label>
        <input matInput placeholder="Nhập mật khẩu">
        <mat-hint></mat-hint>
      </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy">
        <mat-label>Nhập lại mật khẩu</mat-label>
        <input matInput placeholder="Nhập lại mật khẩu">
        <mat-hint></mat-hint>
      </mat-form-field>
  </div>
  <div>
    <input matInput placeholder="Đăng ký">

  </div>



</div>
